@import '../../../assets/styles/sources/global-vars/variables';

h3 {
    margin-bottom: 40px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 1000px;
    max-width: 1000px;
    height: 700px;
    
    &__parametr{
        margin-top: 50px;
        width: 405px;
        max-width: 405px;
        display: flex;
        justify-content: space-between;
    }
    &__list > p {
        width: 450px;
        margin-bottom: 40px;
        font-size: $font-size-secondary;
        text-align: start;
    }
    &__list-inner {
        width: 100%;
        display: grid;
        grid-template-columns: 405px 405px;
        grid-template-rows: repeat(0, 0px);
        column-gap: 90px;
    }
    &__list-item {
        margin-bottom: 25px;
        list-style-type: none;
        text-align: start;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        }

    &__title-height {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    &__title-height-par {
        margin-top: 5px;
    }
    &__input-height {
        font: 700 18px $font-family-base;
        width: 66px;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid $font-color-primary;
        color: $font-color-primary;
        text-align: center;
        box-shadow: none;
    }
    &__input-height:focus {
        border-bottom: 1px solid $font-color-secondary;
    }
    &__input-height:out-of-range {
        border-bottom: 1px solid red;
    }
    &__input-height::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    
    &__title-height > p {
        margin-left: 10px;
    }
    &__calculator__title-rooms {
        width: 344px;
        height: 100px;
    }
    
    &__underline-text {
        text-underline-offset: 5px;
    }

    &__notes {
        width: 100%;
        margin: 0 auto;
        text-align: start;
    }

    &__notes-list > p{
        color: $font-color-secondary;
        
    }
    &__notes-list{
        list-style-position: outside;
        font-size: $font-size-extra;
    }
    @media screen and (max-width: 499px) {
        min-width: 330px;

        &__parametr {
            width: 300px;
        }
        &__parametrs-inner {
            padding: 15px;
        }
        &__list-inner {
            grid-template-columns: 300px; 
        }
        &__list, 
        &__list > p, 
        &__notes  {
            width: 300px;
        }
        &__list > p {
            margin-bottom: 40px;
            font-size: $font-size-secondary;
            text-align: start;
        }
        &__notes {
            padding-right: 0px;
            padding-left: 15px;
        }
    }
    
    @media screen and (min-width: 500px) and (max-width: 1050px){
        width: 480px;

        &__list-inner {
            grid-template-columns: 450px;
        }
        &__list > p {
            font-size: $font-size-secondary;
            text-align: start;
        }
        &__notes {
            width: 450px;
            padding-right: 0px;
        }
    } 
}


