@import '../../assets/styles/sources/global-vars/variables';

.admin-window {    
    width: 1240px;
    height: fit-content;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, rgba(167, 167, 172, 0.13) 0%, rgba(29, 29, 53, 0.9) 100%);
    
    &__parametrs-inner { 
        width: 1112px;
        margin: 0px auto;
    }
    
    &__parametrs-prices {
        list-style-type: none;
        width: 1112px;
        display: grid;
        grid-template-columns: 471px 471px;
        column-gap: 169px;
        row-gap: 15px;
    }
    
    &__parametr-inner {
        width: 452px;
        display: flex;
        flex-direction: inline;
        justify-content: space-between;
        
    }
    
    &__parametr-input {
        display: flex;
        margin-top: -4px;
    }
    &__parametr-input  p {
        margin-top: 5px;   
        margin-left: 2px;
    }
    &__input-height {
        font: 700 18px $font-family-base;
        width: 66px;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid $font-color-primary;
        color: $font-color-primary;
        text-align: center;
        box-shadow: none;
    }
    &__input-height:focus {
        border-bottom: 1px solid $font-color-secondary;
    }

    &__input-height:out-of-range{
        border-bottom: 1px solid red;
    }

    &__input-height::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &__measurment {
        display: flex;
        flex-direction: row;
    }
    
    &__underline-text {
        text-underline-offset: 5px;
    }

    &__notes-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    // &__notes-btn {
    //     display: flex;
    //     justify-content: space-between;
    //     flex-direction: column;

    // }

    &__notes-list {
        margin-top: 70px;
    }
    &__notes-list > p {
        color: $font-color-secondary;
    }

    @media screen and (max-width: 350px){
        width: 300px;
        padding: 10px;
        &__parametrs-inner, 
        &__parametr-inner, 
        &__parametrs-prices{
            width: 280px;
        }
        &__parametrs-prices {
            grid-template-columns: 280px;
        }
        &__notes-btn {
            flex-direction: column;
        }
        // &__notes-list {
        //     width: 250px;
        // }
    
    }
    
    @media screen and (min-width: 351px) and (max-width: 699px){
        width: 375px;
        padding: 20px;
        &__parametrs-inner, 
        &__parametr-inner, 
        &__parametrs-prices {
            width: 335px;
        }
        &__parametrs-prices {
            grid-template-columns: 335px;
        }
        // &__notes-btn {
        //     flex-direction: column;
        // }
    }
    
    @media screen and (min-width: 700px) and (max-width: 1050px){
        width: 600px;
        &__parametrs-inner {
            width: 535px;
        }
        &__parametr-inner, 
        &__parametrs-prices {
            width: 550px;
        }
        &__parametrs-prices {
            grid-template-columns: 400px;
        }
        // &__notes-btn {
        //     flex-direction: column;
        // }
    }
    
    @media screen and (min-width: 1050px) and (max-width: 1300px){
        width: 600px;
        &__parametrs-inner {
            width: 535px;
        }
        &__parametr-inner, 
        &__parametrs-prices {
            width: 550px;
        }
        &__parametrs-prices {
            grid-template-columns: 400px;
        }
        // &__notes-btn {
        //     flex-direction: column;
        // }
    }
    @media screen and (max-width: 1300px){
        &__notes-btn {
            flex-direction: column;
        }
    }
}

