@import '../../assets/styles/sources/global-vars/variables.scss';

.calculator {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 1000px;
    height: fit-content;
    
    &__tabs {
        display: flex;
        flex-direction: row;
        height: 50px;
        width: 100%;
        font-size: $font-size-button;
        color: $font-color-primary;  
    }

    &__tab{
        width: 24%;
        max-width: 240px;
        background-color: $tabs-color;
        padding: 16px 25px;  
    }
   
    :hover {
        cursor: pointer;
    }

    &__parametrs-inner {
        width: 100%;
        margin: 0px auto;
        min-height: 700px;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
        background: linear-gradient(180deg, rgba(167, 167, 172, 0.13) 0%, rgba(29, 29, 53, 0.9) 100%);
    }

    &__parametrs {
        width: 90%;
        margin: 0 auto;
    }

    &__button-inner {
        width: 100%;
    }

    @media screen and (max-width: 499px) {
        margin: 0 auto;
        width: 330px;
        &__parametr {
            width: 100%;
        }
        &__parametrs {
            width: 300px;
            margin: 0;
        }
        &__parametrs-inner {
            width: 330px;
            height: fit-content;
            padding-bottom: 50px;
        }
        &__tabs {
            height: 70px;
        }
        &__tab {
            width: 50%;
            height: 70px;
            padding-bottom: 10px;
        }
        &__button-inner {
            display: flex;
            justify-content: center;
        }
    }
    
    
    @media screen and (min-width: 500px) and (max-width: 1050px) {
            width: 480px;
            margin: 0 auto;
    
            &__parametrs, &__parametrs-inner, &__tabs {
                width: 480px; 
            }
            &__parametrs-inner {
                margin-left: 0;
                padding: 15px;
                height: fit-content;
                padding-bottom: 50px;
            }   
            &__tab {
                width: 50%;
            }
            &__button-inner {
                display: flex;
                justify-content: center;
            }
    } 
}

@media screen and (max-width: 1590px) {
    .container__calculator {
        flex-direction: column;
        margin-left: 0;
        gap: 100px;
    }
}