@import '../../assets/styles/sources/global-vars/variables.scss';

.calculator {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 1000px;
    max-width: 1000px;
    height: auto;
    
    &__tabs {
        display: flex;
        flex-direction: row;
        height: 50px;
        //max-height: 50px;
        width: 100%;
        font-size: $font-size-button;
        color: $font-color-primary;  
    }

    &__tab{
        width: 24%;
        max-width: 240px;
        background-color: $tabs-color;
        color: $font-color-primary;
        padding: 16px 25px;  

    }
   
    :hover {
        cursor: pointer;
    }

    &__parametrs-inner {
        width: 100%;
        margin: 0px auto;
        height: 700px;
        background-color: aqua;
        background: linear-gradient(180deg, rgba(167, 167, 172, 0.13) 0%, rgba(29, 29, 53, 0.9) 100%);

        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
    }

    &__parametrs {
        width: 90%;
        margin: 0 auto;
    }

    &__button-inner {
        width: 100%;
    }
    // &__parametr{
    //     margin-top: 50px;
    //     margin-bottom: 36px;
    //     width: 405px;
    //     max-width: 405px;
    //     display: flex;
    //     justify-content: space-between;
        
        
    //     &__checkbox {
    //         background-color: transparent;
    //     }
    // }
    
    // &__input-height {
    //     width: 66px;
    //     max-width: 66px;
    //     background: rgba(0, 0, 0, 0);  
    //     border: none;
    //     outline: none;
    //     border-bottom: $border-bottom;
    // }
    // &__label {
    //     width: 70%;
    //     text-align: start;
    // }

    // &__list > p {
    //     width: 450px;
    //     margin-bottom: 40px;
    //     font-size: $font-size-secondary;
    //     text-align: start;
    // }
    
    

    // &__calculator__title-height {
    //     width: 405px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;

    
    // &__calculator__title-rooms {
    //     width: 344px;
    //     height: 100px;
    // }
    // }

    // &__notes {
    //     width: 100%;
    //     margin: 0 auto;
    //     text-align: start;
    //     padding-right: 160px;
    // }

    // &__notes-list{
    //     color: $font-color-secondary;
        
    // }
    // &__notes-list > li{
    //     list-style-position: outside;
    //     margin-left: -10px;
    //     display: inline-block;
    // }
}

// .input-height {
//     border: none;
//     border-bottom: 1px solid black;
//     width: 66px;
// }

// .input-checkbox {
//     width: 15px;
//     height: 15px;
// }

// .grid {
//     width: 100%;
//     display: grid;
//     grid-template-columns: 405px 405px;
//     grid-template-rows: repeat(0, 0px);
//     column-gap: 90px;
// }
// .grid-item {
//     margin-bottom: 25px;
//     list-style-type: none;
//     text-align: start;
//     display: flex;
//     justify-content: space-between;
//     flex-direction: row;
// }
// ul {
//     margin: 0;
//     padding: 0;
// }

// .list-item > p {
//     display: inline-block;
// }
// h4 {
//     margin-top: 10px;
// }

.activeTab {
    border-bottom: $border-bottom-two;
    
}

@media screen and (max-width: 499px) {
    .calculator {
        margin: 0 auto;
        width: 330px;
        &__parametr {
            width: 100%;
        }
        &__parametrs {
            width: 300px;
            margin: 0;
        }
        &__parametrs-inner {
            //margin-top: 10px;
            width: 330px;
            height: fit-content;
            padding-bottom: 50px;
        }
        &__tabs {
            width: 330px;
            height: 70px;
        }
        &__tab {
            width: 50%;
            height: 70px;
            padding-bottom: 10px;
        }
        &__button-inner {
            display: flex;
            justify-content: center;
        }
    }
    
}


@media screen and (min-width: 500px) and (max-width: 1050px) {
    .calculator {
        width: 480px;
        margin: 0 auto;
        
        &__parametr {
            //width: 700px;
        }
        &__parametrs {
            width: 480px;
        }
        &__parametrs-inner {
            //margin-top: 10px;
            margin-left: 0;
            padding: 15px;
            width: 480px;
            
            height: fit-content;
            padding-bottom: 50px;
        }
        &__tabs {
            width: 480px;
        }
        &__tab {
            width: 50%;
            //height: 60px;
        }
        &__button-inner {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1590px) {
    .container__calculator {
        flex-direction: column;
        margin-left  : 0;
    }
}