@import '../../assets/styles/sources/global-vars/variables';

.container {

    &__calculator {
        display: flex;
        justify-content: space-around;
        gap: 15px;
        
        
        &__result {
            display: flex;
            justify-content: center;
            align-items: start;
        }
    }
    @media screen and (max-width: 499px) {
        width: 499px;
        margin: 0px auto;

        &__calculator{
            width: 330px;
            height: fit-content;
            flex-direction: column;
            height: fit-content;
            gap: 450px;
            margin: 0 auto;
        }
        &__result {
            margin-top: 60px;
        }
    }
    @media screen and (min-width: 500px) and (max-width: 1050px){
        width: 100%;
        margin: 0 auto;

        &__calculator{
            width: 480px;
            max-width: 480px;
            flex-direction: column;
            justify-content: space-between;
            height: fit-content;
            gap: 300px;
            margin: 0 auto;
        }
    }
}
